.home_background_container {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.home_background_image {
	width: 100%;
	object-fit: cover;
}

.logo {
	max-width:40vw;
}

@media only screen and (min-width: 851px){
	.home_background_header {
		left: 50%;
	}
}

@media only screen and (max-width: 850px){
	.home_background_image {
		height: 500px;
		width: auto;
	}
	
	.home_background_header {
		left: 70%;
	}
}


.home_background_header {
	position: absolute;
	top: 40%;
	transform: translate(-50%, -50%);
	color: darkred;
	font-weight: 500;
	font-size: 4.5em;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	
	padding: 20px;
}

.page-header {
	background: darkred;
	color: #eeeeee;
	width: 100%;
	left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: sans-serif;
}

.page-header-content {
	margin-left: 5%;
	margin-right: 5%;
}

.textwall-container {
	text-align: justify;
	font-family: sans-serif;
	margin-left: 25%;
	margin-right: 25%;
	flex: 1;
}

.feature_containers {
	display: flex;
	flex-flow: row wrap;
}

.feature_container {
	width: 49%;
	padding: 0.5%;
}

.feature_heading {
	
}

.feature_text {
	
}

.feature_image {
	width: 100%;
}

.nav-list-item {
	display: flex;
	align-items: center;
}

.nav-list-item a {
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	height: 100%;
	display: flex;
	align-items: center;
}

.dropdown-helper {
	display: none;
}

.dropdown-menu {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 0;
	top: 100%;
	min-width: 10rem;
	border: 1px solid lightgrey;
}

.dropdown-menu .nav-list-item {
	display: block;
	height: auto;
	background: #fff;
}

.dropdown-menu .nav-list-item a {
	padding: 10px;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; 
	background: #fff;
	width: 100%;
	height: 5rem;
	z-index: 10;
	top: 0;
	left: 0;
}

.navbar-title {
	color: darkred;
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	padding-left: 10px;
}

.navbar-logo {
	height: 34px;
}

.navbar-nav {
	display: flex;
	justify-content: space-between;
}

.nav-item {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 2rem;
	padding-bottom: 1.9rem;
}

.menu-icon {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	z-index: 11;
	float: right;
	line-height: 5rem;
	cursor: pointer;
	display: none;
}

#check {
	display:none;
}

.collapsible:hover, .collapsible:focus {
	background: #c00417;
}

.nav-link:hover {
	color: #c00417;
}

.dropdown-item:hover {
	color: #c00417;
}

.footer-bar {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: black;
	align-items: right;
	padding: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.footer-bar a {
	color: darkred;
	text-decoration: none;
}

body {
   margin: 0px;
   padding-top: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: calc(100% - 5rem);
}

body::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.4rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #c00417;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .feature_container {
	width: 100%;
  }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	cursor: pointer;
	padding: 5px;
	border: none;
	vertical-align: center;
	outline: none;
}

@media only screen and (max-width: 1000px) {
	.textwall-container {
		margin-left: 2%;
		margin-right: 2%;
	}
}

@media only screen and (min-width: 851px) {
	.dropdown:hover .dropdown-menu {
		display: block;
		border-top: 3px solid #c00417;
	}
}

@media only screen and (max-width: 850px) {
	.navbar {
		justify-content: space-around;
	}
	
	.menu-icon {
		display: block;
	}
	
	.navbar-nav {
		position: fixed;
		width: 100%;
		background: white;
		top: 4rem;
		left: 0;
		text-align: center;
		display: none;
		border: 1px solid lightgrey;
		padding-inline-start: 0px;
	}
	
	.nav-item {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 0px;
		border-bottom: 1px solid lightgrey;
		display: flex;
		flex-direction: column;
	}
	
	#check:checked ~ .navbar-nav {
		display: block;
	}
	
	.dropdown-helper {
		display: block;
		position: absolute;
		right: 0;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		border-left: 1px solid lightgrey;
		width: 45px;
	}
	
	.nav-link-container {
		display: flex;
	}
	
	.dropdown {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	
	.dropdown:active .dropdown-menu,
	.dropdown:focus .dropdown-menu {
		display: block;
		width: 100%;
		border-top: 1px solid #c00417;
		border-bottom: 1px solid #c00417;
		position: static;
	}
	
	.dropdown-menu .nav-list-item {
		background: #F6F5F5;
	}
}

.rank-spacer {
    margin-top: 20px;
}

.box-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.box {
    border-radius: 6px;

    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
	
	margin-left: 5px;
	margin-right: 5px;
	
    height: 100%;
	line-height: 1.5rem;
}

.rank-1 {
    background-color: #00AAAA;
    color: black;
}

.rank-2 {
    background-color: #FFFF55;
    color: black;
}

.rank-3 {
    background-color: #FFAA00;
    color: black;
}

.rank-4 {
    background-color: #00AA00;
    color: black;
}

.rank-owner {
    background-color: #AA0000;
    color: white;
}

.rank-admin {
    background-color: #FF5555;
    color: black;
}

.rank-builder-dev {
    background-color: #AA00AA;
    color: white;
}

.rank-mod {
    background-color: #5555FF;
    color: white;
}

.rank-supporter {
    background-color: #55FFFF;
    color: black;
}

.rank-vip {
    background-color: #FF55FF;
    color: black;
}

.rank-name {
    font-weight: bold;
    font-size: 1em;
}

.rank-description {
    font-size: 0.75em;
}

.text-center {
	text-align: center;
}

.justify-content-center {
	justify-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
  
.col-12 {
    width: 100%;
}

@media (max-width: 768px) {
  .team-container {
    flex: 0 0 100%; /* Column occupies 100% of the parent container's width */
    max-width: 100%; /* Column does not exceed 100% of the parent container's width */
  }
}

@media (min-width: 768px) {
  .team-container {
    flex: 0 0 50%; /* Column occupies 50% of the parent container's width */
    max-width: 50%; /* Column does not exceed 50% of the parent container's width */
  }
}

@media (min-width: 992px) {
  .team-container {
    flex: 0 0 33.333333%; /* Column occupies 1/3 (4 out of 12) of the parent container's width */
    max-width: 33.333333%; /* Column does not exceed 1/3 of the parent container's width */
  }
}
